# ----------------------------
# Terraform
# ----------------------------

# State files
*.tfstate
*.tfstate.*
crash.log

# Terraform directories
.terraform/

# Variable files (secrets)
*.tfvars
terraform.tfvars

# Plan files
*.tfplan

# CLI config
.terraformrc
terraform.rc

# ----------------------------
# Sensitive / Keys
# ----------------------------
*.pem
*.key

# ----------------------------
# macOS
# ----------------------------
.DS_Store